In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import random
import sklearn
import scipy.stats as stats
import csv
import math
from sklearn import preprocessing
import string
import plotly
import plotly.graph_objs as go

In [5]:
TRAIN_PATH='D:\\all\\train.csv'
with open(TRAIN_PATH) as file:
    n_rows = len(file.readlines())

In [6]:
n_rows

55423857

In [4]:
train = pd.read_csv('D:\\all\\train.csv', sep = ',', nrows = 10000000)
test = pd.read_csv('D:\\all\\test.csv', sep = ',')
df_train = pd.DataFrame(train)
df_test = pd.DataFrame(test)
df_train.head(10)
# train = pd.read_csv('train.csv', sep = ',', nrows = 1000000)
# test = pd.read_csv('test.csv', sep = ',')
# df_train = pd.DataFrame(train)
# df_test = pd.DataFrame(test)
# df_train.head(10)
# # df_test.shape

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1
5,2011-01-06 09:50:45.0000002,12.1,2011-01-06 09:50:45 UTC,-74.000964,40.731630,-73.972892,40.758233,1
6,2012-11-20 20:35:00.0000001,7.5,2012-11-20 20:35:00 UTC,-73.980002,40.751662,-73.973802,40.764842,1
7,2012-01-04 17:22:00.00000081,16.5,2012-01-04 17:22:00 UTC,-73.951300,40.774138,-73.990095,40.751048,1
8,2012-12-03 13:10:00.000000125,9.0,2012-12-03 13:10:00 UTC,-74.006462,40.726713,-73.993078,40.731628,1
9,2009-09-02 01:11:00.00000083,8.9,2009-09-02 01:11:00 UTC,-73.980658,40.733873,-73.991540,40.758138,2

In [7]:
df_train.shape

(10000000, 8)

In [8]:
df_train.describe()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,1.000000e+07,1.000000e+07,1.000000e+07,9.999931e+06,9.999931e+06,1.000000e+07
mean,1.133854e+01,-7.250775e+01,3.991934e+01,-7.250897e+01,3.991913e+01,1.684793e+00
std,9.799930e+00,1.299421e+01,9.322539e+00,1.287532e+01,9.237280e+00,1.323423e+00
min,-1.077500e+02,-3.439245e+03,-3.492264e+03,-3.426601e+03,-3.488080e+03,0.000000e+00
25%,6.000000e+00,-7.399207e+01,4.073491e+01,-7.399139e+01,4.073403e+01,1.000000e+00
50%,8.500000e+00,-7.398181e+01,4.075263e+01,-7.398016e+01,4.075316e+01,1.000000e+00
75%,1.250000e+01,-7.396710e+01,4.076712e+01,-7.396367e+01,4.076810e+01,2.000000e+00
max,1.273310e+03,3.457626e+03,3.344459e+03,3.457622e+03,3.351403e+03,2.080000e+02

In [9]:
#check for missing values in train data
df_train.isnull().sum().sort_values(ascending=False)

dropoff_latitude     69
dropoff_longitude    69
passenger_count       0
pickup_latitude       0
pickup_longitude      0
pickup_datetime       0
fare_amount           0
key                   0
dtype: int64

In [10]:
#check for missing values in test data
df_test.isnull().sum().sort_values(ascending=False)

passenger_count      0
dropoff_latitude     0
dropoff_longitude    0
pickup_latitude      0
pickup_longitude     0
pickup_datetime      0
key                  0
dtype: int64

In [11]:
df_train = df_train.drop(df_train[df_train.isnull().any(1)].index, axis = 0)

In [12]:
df_train.shape

(9999931, 8)

In [13]:
# checking the target column
df_train['fare_amount'].describe()

count    9.999931e+06
mean     1.133849e+01
std      9.799845e+00
min     -1.077500e+02
25%      6.000000e+00
50%      8.500000e+00
75%      1.250000e+01
max      1.273310e+03
Name: fare_amount, dtype: float64

In [14]:
# counting the number of negativ value
from collections import Counter
Counter(df_train['fare_amount']<0)

Counter({False: 9999511, True: 420})

In [15]:
# dropping the negative value for target column
df_train = df_train.drop(df_train[df_train['fare_amount']<0].index, axis=0)
df_train.shape

(9999511, 8)

In [16]:
# checking to make sure there no more negative value for frae in train dataset
df_train['fare_amount'].describe()

count    9.999511e+06
mean     1.133935e+01
std      9.798654e+00
min      0.000000e+00
25%      6.000000e+00
50%      8.500000e+00
75%      1.250000e+01
max      1.273310e+03
Name: fare_amount, dtype: float64

In [17]:
#highest fare $200
df_train['fare_amount'].sort_values(ascending=False)

1144706    1273.31
4894706     952.00
6979398     850.00
3723759     698.16
3206977     542.83
3316931     500.00
7009310     500.00
7418789     500.00
101885      500.00
7583759     499.00
5388368     499.00
247671      495.00
1215047     488.00
9835597     477.92
7893818     475.00
9606167     454.64
233874      450.00
7872246     450.00
287638      450.00
7236013     450.00
329010      450.00
1950951     430.00
4907207     423.00
2127659     419.75
9825738     405.03
9489089     403.88
5784704     400.00
5782292     400.00
9484568     400.00
451974      400.00
            ...
5867720       0.00
6204385       0.00
8521195       0.00
8740367       0.00
1614540       0.00
3682172       0.00
7188807       0.00
8002106       0.00
5251571       0.00
1291130       0.00
8748575       0.00
5153112       0.00
1833544       0.00
3925313       0.00
6756532       0.00
561786        0.00
6131401       0.00
2418406       0.00
9771770       0.00
5597946       0.00
1221438       0.00
5928092       0.00
9505127       0.00
5820021       0.00
5086004       0.00
3712453       0.00
4841900       0.00
2485348       0.00
436658        0.00
4205502       0.00
Name: fare_amount, Length: 9999511, dtype: float64

In [18]:
# checking the passenger variable now
df_train['passenger_count'].describe()

count    9.999511e+06
mean     1.684798e+00
std      1.323415e+00
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      2.080000e+02
Name: passenger_count, dtype: float64

In [19]:
df_train[df_train['passenger_count']>6]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
929022,2009-07-30 11:54:00.000000193,3.30,2009-07-30 11:54:00 UTC,0.000000,0.000000,0.000000,0.000000,208
1007609,2014-06-24 15:13:00.00000040,104.00,2014-06-24 15:13:00 UTC,-74.015780,40.715420,-74.170280,40.708340,9
2154045,2010-12-16 11:21:00.000000209,3.30,2010-12-16 11:21:00 UTC,0.000000,0.000000,0.000000,0.000000,208
2198549,2010-12-15 14:20:00.00000010,3.30,2010-12-15 14:20:00 UTC,0.000000,0.000000,0.000000,0.000000,208
2910347,2010-12-16 06:44:00.00000039,4.50,2010-12-16 06:44:00 UTC,0.000000,0.000000,0.000000,0.000000,208
3107489,2009-05-12 14:50:00.000000175,2.70,2009-05-12 14:50:00 UTC,-73.937818,40.758260,-73.937827,40.758250,208
3323791,2011-08-27 01:24:00.000000168,8.50,2011-08-27 01:24:00 UTC,-73.987858,40.760340,-74.000682,40.752413,129
4095440,2015-06-14 08:56:16.0000001,37.04,2015-06-14 08:56:16 UTC,-73.982094,40.756252,-73.872482,40.774506,9
4103745,2010-12-22 12:11:00.000000230,23.70,2010-12-22 12:11:00 UTC,0.000000,0.000000,0.000000,0.000000,208
4432483,2009-05-11 13:56:00.00000088,11.10,2009-05-11 13:56:00 UTC,-73.937733,40.758267,-73.937737,40.758273,208
4467314,2015-01-01 21:32:16.0000007,8.50,2015-01-01 21:32:16 UTC,-74.005867,40.740643,-73.988045,40.735100,7
4679603,2010-02-20 01:53:00.00000037,9.30,2010-02-20 01:53:00 UTC,0.554830,0.000000,-2069.478952,28.121107,51
7001143,2009-02-26 08:29:00.000000201,2.70,2009-02-26 08:29:00 UTC,-73.937872,40.758333,-73.937835,40.758368,208
7275748,2013-02-24 01:16:01.0000004,14.50,2013-02-24 01:16:01 UTC,-73.984750,40.724213,-73.984752,40.701348,7
8951365,2011-01-05 13:37:00.000000119,2.50,2011-01-05 13:37:00 UTC,0.000000,0.000000,0.000000,0.000000,49
8955368,2014-11-30 22:03:54.0000005,30.83,2014-11-30 22:03:54 UTC,-73.863510,40.769807,-73.950583,40.770940,9
9310100,2012-03-08 10:44:00.00000031,3.30,2012-03-08 10:44:00 UTC,0.000000,0.000000,0.000000,0.000000,208

In [20]:
# removing the outlier for passenger column. there are passengers greater than 6 which do not make sense
df_train = df_train.drop(df_train[df_train['passenger_count'] > 6].index, axis = 0)
df_train.shape

(9999494, 8)

In [21]:
df_train['passenger_count'].describe()

count    9.999494e+06
mean     1.684587e+00
std      1.308056e+00
min      0.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      6.000000e+00
Name: passenger_count, dtype: float64

In [22]:
df_train[df_train['passenger_count']>6]

Empty DataFrame
Columns: [key, fare_amount, pickup_datetime, pickup_longitude, pickup_latitude, dropoff_longitude, dropoff_latitude, passenger_count]
Index: []

In [23]:
# Exploring latitude and longitude

df_train['pickup_latitude'].describe()

count    9.999494e+06
mean     3.991947e+01
std      9.322414e+00
min     -3.492264e+03
25%      4.073491e+01
50%      4.075263e+01
75%      4.076712e+01
max      3.344459e+03
Name: pickup_latitude, dtype: float64

In [24]:
df_train['pickup_longitude'].describe()

count    9.999494e+06
mean    -7.250799e+01
std      1.299369e+01
min     -3.439245e+03
25%     -7.399207e+01
50%     -7.398181e+01
75%     -7.396710e+01
max      3.457626e+03
Name: pickup_longitude, dtype: float64

In [25]:
min(df_train.pickup_longitude.min(), df_train.dropoff_longitude.min()), \
max(df_train.pickup_longitude.max(), df_train.dropoff_longitude.max())

(-3439.2450619999995, 3457.6256829999998)

In [26]:
min(df_train.pickup_latitude.min(), df_train.dropoff_latitude.min()), \
max(df_train.pickup_latitude.max(), df_train.dropoff_latitude.max())

(-3492.263768, 3351.403027)

things to add:


1. Lattitude and Longitude: outlier and missing value treatment
2. MAke a month, day and date variable. Make a time variable.
3. EDA:
    - bar plots- to discuss their distributions
    - Correlation graphs- to check which all have relation to the independent var
    - make plots like histograms, pie charts, 
4. Later part we should be making different modules

In [27]:
df_train[(df_train['pickup_latitude']>90)|(df_train['pickup_latitude']<-90)| \
         (df_train['dropoff_latitude']>90)|(df_train['dropoff_latitude']<-90)|(df_train['pickup_longitude']>180)|\
         (df_train['pickup_longitude']<-180)|(df_train['dropoff_longitude']>180)|(df_train['dropoff_longitude']<-180)|
         (df_train['pickup_longitude'] == 0)|(df_train['pickup_latitude'] == 0)|(df_train['dropoff_latitude'] == 0)|
        (df_train['dropoff_longitude'] == 0)]

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
11,2012-12-24 11:24:00.00000098,5.5,2012-12-24 11:24:00 UTC,0.000000,0.000000,0.000000,0.000000,3
15,2013-11-23 12:57:00.000000190,5.0,2013-11-23 12:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1
26,2011-02-07 20:01:00.000000114,6.5,2011-02-07 20:01:00 UTC,0.000000,0.000000,0.000000,0.000000,1
124,2013-01-17 17:22:00.00000043,8.0,2013-01-17 17:22:00 UTC,0.000000,0.000000,0.000000,0.000000,2
192,2010-09-05 17:08:00.00000092,3.7,2010-09-05 17:08:00 UTC,0.000000,0.000000,0.000000,0.000000,5
233,2011-07-24 01:14:35.0000002,8.5,2011-07-24 01:14:35 UTC,0.000000,0.000000,0.000000,0.000000,2
273,2009-10-30 18:13:00.00000021,8.1,2009-10-30 18:13:00 UTC,0.000000,0.000000,0.000000,0.000000,4
357,2013-07-04 16:41:27.0000002,8.5,2013-07-04 16:41:27 UTC,0.000000,0.000000,0.000000,0.000000,1
376,2014-05-29 05:57:22.0000001,2.5,2014-05-29 05:57:22 UTC,0.000000,0.000000,0.000000,0.000000,1
387,2012-11-15 08:39:00.00000095,13.0,2012-11-15 08:39:00 UTC,0.000000,0.000000,0.000000,0.000000,1
472,2009-02-22 22:48:00.000000130,2.5,2009-02-22 22:48:00 UTC,0.000000,0.000000,-74.005433,40.726685,2
498,2009-03-16 04:47:17.0000001,17.0,2009-03-16 04:47:17 UTC,0.000000,0.000000,0.000000,0.000000,1
540,2013-10-29 01:09:14.0000002,16.0,2013-10-29 01:09:14 UTC,0.000000,0.000000,0.000000,0.000000,1
542,2009-12-29 14:23:00.000000158,4.5,2009-12-29 14:23:00 UTC,0.000000,0.000000,0.000000,0.000000,1
568,2014-10-08 06:49:18.0000001,6.5,2014-10-08 06:49:18 UTC,0.000000,0.000000,0.000000,0.000000,1
660,2010-08-18 03:46:00.0000002,13.3,2010-08-18 03:46:00 UTC,0.000000,0.000000,0.000000,0.000000,5
728,2010-02-13 01:52:11.0000003,11.7,2010-02-13 01:52:11 UTC,0.000000,0.000000,0.000000,0.000000,1
799,2013-12-08 23:39:00.00000080,3.0,2013-12-08 23:39:00 UTC,0.000000,0.000000,0.000000,0.000000,5
872,2011-09-25 02:07:00.000000139,8.5,2011-09-25 02:07:00 UTC,0.000000,0.000000,0.000000,0.000000,1
881,2011-07-19 23:43:12.0000001,8.5,2011-07-19 23:43:12 UTC,0.000000,0.000000,0.000000,0.000000,1
887,2014-09-26 19:41:41.0000004,12.0,2014-09-26 19:41:41 UTC,0.000000,0.000000,0.000000,0.000000,1
958,2011-02-22 14:09:00.00000066,2.5,2011-02-22 14:09:00 UTC,0.000000,0.000000,0.000000,0.000000,5
960,2013-05-31 05:02:30.0000001,12.5,2013-05-31 05:02:30 UTC,0.000000,0.000000,0.000000,0.000000,1
964,2009-06-30 10:20:09.0000005,14.1,2009-06-30 10:20:09 UTC,0.000000,0.000000,0.000000,0.000000,1
966,2015-06-08 01:59:17.0000001,28.0,2015-06-08 01:59:17 UTC,0.000000,0.000000,0.000000,0.000000,1
1260,2011-03-10 20:25:00.00000049,5.7,2011-03-10 20:25:00 UTC,-73.973907,40.754743,0.000000,0.000000,2
1314,2012-09-20 20:06:50.0000001,11.5,2012-09-20 20:06:50 UTC,0.000000,0.000000,0.000000,0.000000,1
1316,2014-06-17 17:50:00.000000213,8.5,2014-06-17 17:50:00 UTC,0.000000,0.000000,0.000000,0.000000,1
1397,2009-02-17 07:30:00.00000027,4.5,2009-02-17 07:30:00 UTC,0.000000,0.000000,0.000000,0.000000,2
1441,2014-02-22 17:20:23.0000004,25.0,2014-02-22 17:20:23 UTC,0.000000,0.000000,0.000000,0.000000,2
...,...,...,...,...,...,...,...,...
9998657,2014-08-01 22:16:58.0000007,6.0,2014-08-01 22:16:58 UTC,0.000000,0.000000,-73.992972,40.735817,1
9998706,2014-07-08 23:33:38.0000001,25.0,2014-07-08 23:33:38 UTC,0.000000,0.000000,0.000000,0.000000,1
9998709,2011-06-30 22:47:00.00000064,6.9,2011-06-30 22:47:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9998739,2011-07-02 11:32:00.00000048,8.9,2011-07-02 11:32:00 UTC,0.000000,0.000000,0.000000,0.000000,3
9998813,2012-01-29 16:57:00.00000041,5.3,2012-01-29 16:57:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9998861,2013-06-04 09:40:00.000000149,2.5,2013-06-04 09:40:00 UTC,0.000000,0.000000,0.000000,0.000000,6
9998880,2014-08-18 00:03:21.0000004,14.5,2014-08-18 00:03:21 UTC,0.000000,0.000000,0.000000,0.000000,1
9998906,2011-11-25 17:43:38.0000003,4.5,2011-11-25 17:43:38 UTC,0.000000,0.000000,0.000000,0.000000,4
9998909,2010-02-11 12:23:00.00000028,5.7,2010-02-11 12:23:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9998995,2012-12-27 14:36:35.0000002,91.5,2012-12-27 14:36:35 UTC,0.000000,0.000000,0.000000,0.000000,1
9999002,2013-05-07 18:54:43.0000004,11.0,2013-05-07 18:54:43 UTC,0.000000,0.000000,0.000000,0.000000,1
9999036,2012-09-08 08:56:00.00000071,7.0,2012-09-08 08:56:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9999074,2011-03-04 21:42:00.000000130,14.5,2011-03-04 21:42:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999102,2012-10-15 13:21:00.00000023,8.0,2012-10-15 13:21:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999137,2012-12-03 15:15:00.00000095,5.0,2012-12-03 15:15:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999146,2012-08-18 16:32:19.0000003,49.8,2012-08-18 16:32:19 UTC,0.000000,0.000000,-73.978997,40.772235,1
9999166,2012-03-30 11:18:45.0000001,49.8,2012-03-30 11:18:45 UTC,0.000000,0.000000,0.000000,0.000000,3
9999285,2013-09-08 00:26:00.00000094,17.0,2013-09-08 00:26:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999298,2012-06-12 22:25:45.0000002,20.1,2012-06-12 22:25:45 UTC,0.000000,0.000000,0.000000,0.000000,3
9999311,2011-03-22 19:33:08.0000002,4.9,2011-03-22 19:33:08 UTC,0.000000,0.000000,0.000000,0.000000,3
9999349,2011-04-24 17:21:00.00000056,4.1,2011-04-24 17:21:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999377,2010-12-21 22:33:00.000000144,8.1,2010-12-21 22:33:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9999392,2015-04-01 00:24:41.0000002,14.5,2015-04-01 00:24:41 UTC,0.000000,0.000000,0.000000,0.000000,1
9999446,2010-11-01 12:43:00.0000001,8.1,2010-11-01 12:43:00 UTC,0.000000,0.000000,0.000000,0.000000,3
9999478,2013-12-29 22:58:00.0000001,33.5,2013-12-29 22:58:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9999693,2011-04-20 18:11:00.00000060,5.7,2011-04-20 18:11:00 UTC,0.000000,0.000000,0.000000,0.000000,1
9999738,2013-02-19 22:06:26.0000005,5.5,2013-02-19 22:06:26 UTC,0.000000,0.000000,0.000000,0.000000,1
9999771,2014-08-10 18:48:00.00000016,10.0,2014-08-10 18:48:00 UTC,0.000000,0.000000,0.000000,0.000000,3
9999818,2011-08-04 23:30:00.000000140,4.9,2011-08-04 23:30:00 UTC,0.000000,0.000000,0.000000,0.000000,2
9999887,2011-12-23 17:24:00.000000165,14.1,2011-12-23 17:24:00 UTC,0.000000,0.000000,0.000000,0.000000,1

In [28]:
df_train = df_train.drop(df_train[(df_train['pickup_latitude']>90)|(df_train['pickup_latitude']<-90)| \
         (df_train['dropoff_latitude']>90)|(df_train['dropoff_latitude']<-90)|(df_train['pickup_longitude']>180)|\
         (df_train['pickup_longitude']<-180)|(df_train['dropoff_longitude']>180)|(df_train['dropoff_longitude']<-180)|
         (df_train['pickup_longitude'] == 0)|(df_train['pickup_latitude'] == 0)|(df_train['dropoff_latitude'] == 0)|
         (df_train['dropoff_longitude'] == 0)].index, axis = 0)

In [29]:
type(df_train['pickup_datetime'])

pandas.core.series.Series

In [30]:
#remove the UTC part of the datetime 
df_train['pickup_datetime']=df_train.pickup_datetime.map(lambda x: x.rstrip(' UTC'))

In [ ]:
df_train['pickup_datetime'] = pd.to_datetime(df_train['pickup_datetime'] ,format= "%Y-%m-%d %H:%M:%S")

In [ ]:
df_train['year']=df_train['pickup_datetime'].dt.year
df_train['month']=df_train['pickup_datetime'].dt.month
df_train['day_week']=df_train['pickup_datetime'].dt.dayofweek
df_train['hour']= df_train['pickup_datetime'].dt.hour

In [ ]:
df_test['pickup_datetime']=df_test.pickup_datetime.map(lambda x: x.rstrip(' UTC'))

In [ ]:
df_test['pickup_datetime'] = pd.to_datetime(df_test['pickup_datetime'] ,format= "%Y-%m-%d %H:%M:%S")

In [ ]:
df_test['year']=df_test['pickup_datetime'].dt.year
df_test['month']=df_test['pickup_datetime'].dt.month
df_test['day_week']=df_test['pickup_datetime'].dt.dayofweek
df_test['hour']= df_test['pickup_datetime'].dt.hour

In [ ]:
df_train

In [ ]:
def deg2rad(deg):
    return deg * (np.pi/180)


def getDistance(lat1,lon1,lat2,lon2): 
    R = 6371
    dLat = deg2rad(lat2-lat1)
    dLon = deg2rad(lon2-lon1) 
    a = np.sin(dLat/2) * np.sin(dLat/2) + np.cos(deg2rad(lat1)) * np.cos(deg2rad(lat2)) * np.sin(dLon/2) * np.sin(dLon/2)
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a))
    d = R * c
    return d

In [ ]:
df_train['dist']=df_train.apply(lambda df_train: getDistance(df_train['pickup_latitude'], df_train['pickup_longitude'],df_train['dropoff_latitude'], df_train['dropoff_longitude']), axis=1)

In [ ]:
a = df_train.sort_values(by=['dist'], ascending=False)
a.head(10)

In [ ]:
lat1=pd.to_numeric(df_train.pickup_latitude,downcast='float')
# long1=df_train.pickup_longitude.astype(float)
# lat2=df_train.dropoff_latitude.astype(float)
# long2=df_train.dropoff_longitude.astype(float)


# df_train['hour'] = getDistance(lat1,long1,lat2,long2)

In [ ]:
df_train[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']] = df_train[['pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude']].apply(pd.to_numeric)

In [ ]:
df_train['dist']=df_train.apply(lambda df_train: getDistance(df_train['pickup_latitude'], df_train['pickup_longitude'],df_train['dropoff_latitude'], df_train['dropoff_longitude']), axis=1)

In [ ]:
df_train.dist.describe()

In [ ]:
df_train.boxplot(column=['dist'])

In [ ]:
df_train.hist(column = ['dist'])

In [ ]:
a = df_train.sort_values(by=['dist'], ascending=False)
a.head(10)

In [ ]:
len(df_train[df_train['dist']>100])

In [ ]:
df_train.dist.describe()

Now, for EDA. The following are my considerations -

Does the number of passengers affect the fare?
Does the date and time of pickup affect the fare?
Does the day of the week affect the fare?
Does the distance travelled affect the fare?
First, let's split the datetime field 'pickup_datetime' to the following -

year
month
date
hour
day of week
Using these we shall calculate the day of the week and come to our conclusions about how pickup_location affects the fare. Also, create a new field 'distance' to fetch the distance between the pickup and the drop.

In [ ]:
plt.figure(figsize=(15,7))
plt.hist(df_train['passenger_count'], bins=15)
plt.xlabel('No. of Passengers')
plt.ylabel('Frequency')

In [ ]:
plt.figure(figsize=(15,7))
plt.scatter(x=df_train['passenger_count'], y=df_train['fare_amount'], s=1.5)
plt.xlabel('No. of Passengers')
plt.ylabel('Fare')

Fare for the single passenger the fare is very high. Frequency of single passenger is also more as compared to other number of passenger.

In [ ]:
import seaborn as sns
plt.figure(figsize=(8,5))
sns.kdeplot(df_train['fare_amount']).set_title("Distribution of Trip Fare")

In [ ]:
df_train['fare_amount'].median()

The fare is mostly clustered around 8.5 and we can clearly see some of the outliers

In [ ]:
from matplotlib.pyplot import *
df_train.plot.scatter(x='dist', y='fare_amount')

In [ ]:
# Removing the distance which is greater than 200 as we can see the outliers from the above dataset
df_train = df_train.drop(df_train[df_train['dist'] > 200].index, axis = 0)
df_train.shape

In [ ]:
from matplotlib.pyplot import *
df_train.plot.scatter(x='dist', y='fare_amount')

In [ ]:
plt.figure(figsize=(15,9))
plt.scatter(x=df_train['month'], y=df_train['fare_amount'], s=1.5)
plt.xlabel('month')
plt.ylabel('Fare')

1) Frequency of pickup location and dropoff location 
2)frequency of time (cab demand time for the pickup with every year)
3)Price vs location 
4)Price vs distance across years
5)Price vs month
6) Across years which day is the most frequent day

In [ ]:
# Let us round pickup and dropoff lat lng to 3 decimal places
df_train['pickup_latitude_round3']=df_train['pickup_latitude'].apply(lambda x:round(x,3))
df_train['pickup_longitude_round3']=df_train['pickup_longitude'].apply(lambda x:round(x,3))
df_train['dropoff_latitude_round3']=df_train['dropoff_latitude'].apply(lambda x:round(x,3))
df_train['dropoff_longitude_round3']=df_train['dropoff_longitude'].apply(lambda x:round(x,3))

In [ ]:
pickup_fare_amount=df_train.groupby(['pickup_latitude_round3','pickup_longitude_round3'])['fare_amount'].mean().reset_index().rename(columns={'fare_amount':'avg_fare'})
pickup_fare_amount.sort_values(by ='avg_fare', ascending = False)

In [ ]:
# How many trips happened for a particular pickup latitude and longitude

pickup_fare_amount=df_train.groupby(['pickup_latitude_round3','pickup_longitude_round3'])['key'].count().reset_index().rename(columns={'key':'count'})
pickup_fare_amount. sort_values(by = 'count', ascending = False)

In [ ]:
df_train[df_train['dist']==0]

In [ ]:
df_train[(df_train['dist']==0)&(df_train['fare_amount']==0)]

The cab waited the whole time and the passenger eventually cancelled. That's why the pickup and drop co-ordinates are the same and therefore, the passenger was charged for the waiting time.
The pickup and drop co-ordinates were not entered and these are missing values.

In [ ]:
plt.figure(figsize=(15,7))
plt.hist(df_train['year'], bins=30)
plt.xlabel('year')
plt.ylabel('Frequency')
# df_train[(df_train['month']>12)]

In [ ]:
df_train.year.unique()

In [ ]:

#df_train[['year','month']].agg(['unique'])
df_train.groupby(['year']).agg({'month':'nunique'})

There are only six months for 2015

In [ ]:
# fig, ax = plt.subplots()

# for key, grp in df_train.groupby(['year']):
#     ax = grp.plot(ax=ax, kind='line', x='dist', y='fare_amount', label=key)

# plt.legend(loc='best')
# plt.show()

In [ ]:
df_train.dist.hist(bins=50, figsize=(12,4))
plt.xlabel('distance km')
plt.title('Histogram ride distances in km')

In [ ]:
df_train.groupby('passenger_count')['dist', 'fare_amount'].mean()

In [ ]:
# removing the passenger count which is zero
df_train = df_train.drop(df_train[df_train['passenger_count'] ==0].index, axis = 0)
df_train.shape

In [ ]:
len(df_train[df_train['passenger_count']==0])

In [ ]:
plt.scatter(df_train.dist, df_train.fare_amount, alpha = 0.4)
plt.xlabel('distance in km')
plt.ylabel('fare_amount')
plt.show()

In [ ]:
df_train.pivot_table('fare_amount',index = 'hour', columns='year').plot(figsize=(14,6))
plt.ylabel('Mean Fare');

**The fare is ighest duirng 5AM in the morning and then again in the evening and drops around 7PM in the evening**

In [ ]:
plt.figure(figsize=(15,7))
plt.hist(df_train['hour'], bins=100)
plt.xlabel('Hour')
plt.ylabel('Frequency')

**The frequency of the cab is lowest during 5AM in the morning and highest during 7PM of the evening**

In [ ]:
plt.scatter(df_train.day_week, df_train.fare_amount, alpha = 0.4)
plt.xlabel('day_week')
plt.ylabel('fare_amount')
plt.show()

**The fare is highest for sunday and monday**

In [ ]:
df_train.pivot_table('fare_amount',index ='hour', columns='year',aggfunc=np.mean)

In [ ]:
df_train.pivot_table('fare_amount',index = 'month', columns='year').plot(figsize=(14,6)).legend(loc = 1)
plt.ylabel('Fare $USD');

1) they are using pycharm or jupyter notebook. 
2) Map work for latitude and longitude.
3) Correlation matrix for all the columns
4) Time series on the data
5) Feature Engineering -PCA, factor analysis
6) svd - machine learning

In [ ]:
# df_train["month_name"] = df_train["month"].map({1:"JAN",2:"FEB",3:"MAR",
#                                                 4:"APR",5:"MAY",6:"JUN",
#                                                 7:"JUL",8:"AUG",9:"SEP",
#                                                 10:"OCT",11:"NOV",12:"DEC"
#                                                })

In [ ]:
# df_train.head()

In [ ]:
# yrs = [i for i in df_train["year"].unique().tolist() if i not in [2015]]

# #subset data without year 2015
# complete_dat = df_train[df_train["year"].isin(yrs)]

In [ ]:
# fare_mn = complete_dat.groupby("month_name")["fare_amount"].mean().reset_index()

# mnth_ord = ['JAN', 'FEB', 'MAR','APR', 'MAY' , 'JUN',
#                 'JUL',  'AUG', 'SEP','OCT', 'NOV','DEC']

# plt.figure(figsize = (12,7))
# sns.barplot("month_name","fare_amount",
#             data = fare_mn,order = mnth_ord,
#             linewidth =1,edgecolor = "k"*len(mnth_ord)
#            )
# plt.grid(True)
# plt.title("Average fare amount by Month")
# plt.show()

In [ ]:
# Let's check how the features correlate
import seaborn as sns
colormap = plt.cm.RdBu
plt.figure(figsize=(20,20))
plt.title('Pearson Correlation of Features', y=1.05, size=15)
sns.heatmap(df_train.corr(),linewidths=0.1,vmax=1.0, 
            square=True, cmap=colormap, linecolor='white', annot=True)

In [ ]:
df_train.head()

In [ ]:
df_train[df_train['dist']==0]

**Dropping the records where Distance = 0 and Fare = 0**

In [ ]:
df_train[(df_train['dist']==0)&(df_train['fare_amount']==0)]

In [ ]:
df_train = df_train.drop(df_train[(df_train['dist']==0)&(df_train['fare_amount']==0)].index, axis = 0)

In [ ]:
df_train[(df_train['dist']==0)&(df_train['fare_amount']==0)]

**Creating a dataset with distance = 0 and doing EDA on that**

In [ ]:
df_dist0 = []
df_dist0 = df_train[df_train.dist == 0]

In [ ]:
df_dist0.shape

In [ ]:
plt.scatter(df_dist0.dist, df_dist0.fare_amount, alpha = 0.4)
plt.xlabel('distance in km')
plt.ylabel('fare_amount')
plt.show()

In [ ]:
df_dist0.pivot_table('fare_amount',index = 'hour', columns='year').plot(figsize=(14,6))
plt.ylabel('Mean Fare');

In [ ]:
plt.figure(figsize=(15,7))
plt.hist(df_dist0['hour'], bins=100)
plt.xlabel('Hour')
plt.ylabel('Frequency')

In [ ]:
plt.scatter(df_dist0.day_week, df_dist0.fare_amount, alpha = 0.4)
plt.xlabel('day_week')
plt.ylabel('fare_amount')
plt.show()

In [ ]:
df_dist0.pivot_table('fare_amount',index = 'month', columns='year').plot(figsize=(14,6)).legend(loc = 1)
plt.ylabel('Fare $USD');

**No new information from the datasets with distance = 0 so we can remove them. We will consider different scenarios for them**

Scenario 1: Fare is not 0 and is less than the base amount, but Distance is 0.
Delete these rows as the minimum is $2.50, and these fares are incorrect values
Reference for base fare : https://www.theawl.com/2012/07/how-much-more-do-taxi-fares-cost-today/

In [ ]:
busy_hour = df_train.loc[(((df_train['hour']>=6)&(df_train['hour']<=20)) & ((df_train['day_week']>=1) & (df_train['day_week']<=5)) & (df_train['dist']==0) & (df_train['fare_amount'] < 2.5))]
busy_hour

In [ ]:
non_rush_hour = df_train.loc[(((df_train['hour']<6)|(df_train['hour']>20)) & ((df_train['day_week']>=1)&(df_train['day_week']<=5)) & (df_train['dist']==0) & (df_train['fare_amount'] < 3.0))]
non_rush_hour

In [ ]:
weekends = df_train.loc[((df_train['day_week']==0) | (df_train['day_week']==6)) & (df_train['dist']==0) & (df_train['fare_amount'] < 3.0)]
weekends

From above scenria, I can understand that the distance is 0, but the fare is all the minimum fare of $2.5. 
This could be because the passenger booked the cab but ended up cancelling to pay the base fare (I am assuming it this way)

Scenario 2: Fare is 0, but Distance is not 0. These values need to be imputed.

In [ ]:
df_fare0 = df_train[(df_train['fare_amount']==0)&(df_train['dist'] > 0)]

In [ ]:
len(df_fare0)

calculating the fare as I have the distance. I shall use the following formula

**fare = 2.5 + 1.56(dist)**

where 2.5 is the base fare and 1.56 the fare per km

In [ ]:
df_fare0['fare_amount'] = df_fare0.apply(
    lambda row: ((row['dist'] * 1.56) + 2.50), axis=1
)

In [ ]:
df_fare0['fare_amount']

In [ ]:
df_train.update(df_fare0)

In [ ]:
df_train.head()

In [ ]:
df_train[(df_train['fare_amount']==0)&(df_train['dist'] > 0)]

**Scenario 3: Fare is not 0, but Distance is 0. These values need to be imputed.**

In [ ]:
df_train.loc[(df_train['dist']==0) & (df_train['fare_amount']!=0)]

In [ ]:
df_scenario3 = df_train.loc[(df_train['dist']==0) & (df_train['fare_amount']!=0)]

In [ ]:
len(df_scenario3)

In [ ]:
df_scenario3.loc[(df_scenario3['fare_amount']<=3.0)&(df_scenario3['dist']==0)]

In [ ]:
df_scenario3.loc[(df_scenario3['fare_amount']>3.0)&(df_scenario3['dist']==0)]

These 9663 rows need to be modified
**distance = (fare_amount - 2.5)/1.56**

In [ ]:
dist_imputed = df_scenario3.loc[(df_scenario3['fare_amount']>3.0)&(df_scenario3['dist']==0)]

In [ ]:
len(dist_imputed)

In [ ]:
dist_imputed['dist'] = dist_imputed.apply(
lambda row: ((row['fare_amount']-2.50)/1.56), axis=1
)

In [ ]:
df_train.update(dist_imputed)

In [ ]:
df_train.loc[(df_train['fare_amount']>3.0)&(df_train['dist']==0)]

**Modelling**

In [ ]:
df_train.columns

In [ ]:
df_test.columns

In [ ]:
df_train.head()

In [ ]:
df_train = df_train.drop(['key','pickup_datetime'], axis = 1)
df_test = df_test.drop(['key','pickup_datetime'], axis = 1)

In [ ]:
df_train.head()

In [ ]:
df_test.head()

In [ ]:
X_train = df_train.iloc[:,train.columns!='fare_amount']
Y_train = df_train['fare_amount'].values
X_test = df_test

In [ ]:
X_train.head()

In [ ]:
Y_train

In [ ]:
X_test.head()

references: https://medium.com/analytics-vidhya/machine-learning-to-predict-taxi-fare-part-one-exploratory-analysis-6b7e6b1fbc78
https://www.gps-coordinates.net/
https://www.openstreetmap.org/export#map=8/52.154/5.295
https://www.travelmath.com/cities/New+York,+NY
https://www.kaggle.com/breemen/nyc-taxi-fare-data-exploration

In [ ]:
def select_within_boundingbox(df_train, BB):
    return (df_train.pickup_longitude >= BB[0]) & (df_train.pickup_longitude <= BB[1]) & \
           (df_train.pickup_latitude >= BB[2]) & (df_train.pickup_latitude <= BB[3]) & \
           (df_train.dropoff_longitude >= BB[0]) & (df_train.dropoff_longitude <= BB[1]) & \
           (df_train.dropoff_latitude >= BB[2]) & (df_train.dropoff_latitude <= BB[3])
            
# load image of NYC map
BB = (-74.5, -72.8, 40.5, 41.8)
nyc_map = plt.imread('https://aiblog.nl/download/nyc_-74.5_-72.8_40.5_41.8.png')

# load extra image to zoom in on NYC
BB_zoom = (-74.3, -73.7, 40.5, 40.9)
nyc_map_zoom = plt.imread('https://aiblog.nl/download/nyc_-74.3_-73.7_40.5_40.9.png')

In [ ]:
print('Old size: %d' % len(df_train))
df_train = df_train[select_within_boundingbox(df_train, BB)]
print('New size: %d' % len(df_train))

In [ ]:
def plot_on_map(df_train, BB, nyc_map, s=10, alpha=0.2):
    fig, axs = plt.subplots(1, 2, figsize=(16,10))
    axs[0].scatter(df_train.pickup_longitude, df_train.pickup_latitude, zorder=1, alpha=alpha, c='r', s=s)
    axs[0].set_xlim((BB[0], BB[1]))
    axs[0].set_ylim((BB[2], BB[3]))
    axs[0].set_title('Pickup locations')
    axs[0].imshow(nyc_map, zorder=0, extent=BB)

    axs[1].scatter(df_train.dropoff_longitude, df_train.dropoff_latitude, zorder=1, alpha=alpha, c='r', s=s)
    axs[1].set_xlim((BB[0], BB[1]))
    axs[1].set_ylim((BB[2], BB[3]))
    axs[1].set_title('Dropoff locations')
    axs[1].imshow(nyc_map, zorder=0, extent=BB)

In [ ]:
plot_on_map(df_train, BB_zoom, nyc_map_zoom, s=1, alpha=0.3)

In [ ]:
plot_on_map(df_test, BB, nyc_map, alpha=1.0, s=20)